@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');
* {
  box-sizing: border-box;
}
html {
  background: linear-gradient(
    90deg,
    rgb(207, 214, 203) 0%,
    rgb(136, 185, 109) 50%
  );
}
.formWrap {
  padding: 2.5rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;

  height: 100%;
}

.formContainer {
  padding: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  width: 30rem;
  margin: 0 auto;
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
  box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
}
form {
  width: 100%;
}
label {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  position: relative;
}

input[type='text'],
input[type='tel'],
input[type='date'],
input[type='url'],
textarea {
  padding: 1rem;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-radius: 10px;
  border: none;
  background: #f7f7f7;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

textarea {
  resize: none;
  margin-bottom: 2rem;
}

p,
.emptyTextField {
  font-size: 0.8rem;
  color: green;
  position: absolute;
  bottom: 0;
}

.emptyTextField {
  right: 0;
}

.fieldError {
  font-size: 0.8rem;
  color: red;
  position: absolute;
  top: 5rem;
  right: 0;
  opacity: 1;
}

.formButtons {
  display: flex;
  justify-content: space-around;
}

button {
  background-color: rgb(207, 217, 231);
  font-size: 1.5rem;
  padding: 10px;
  width: 11rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  background: rgb(165, 189, 150);

  color: #ffffff;
}

.infoContainer {
  
  width: 85%;
  height: 100vh;
  padding: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  width: 30rem;
  margin: 0 auto;
 
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
  box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoText {
  width: 100%;
  word-wrap: break-word;
  position: relative;
  font-size: 1rem;
  color: #000000;
}

ul {
  display: flex;
  height: 100%;
  width: 100%;
}

.modal {
  /* position: absolute; */
  color: green;
  width: 300px;
  /* height: 200px; */
  /* top: 0; */
  /* left: 32%; */
  /* transform: translate(-50%, -50%); */
  border-radius: 5px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  transform: scale(0);
  transition:  2s;
}


.modal-show {
  transform: scale(1) ;
}

.modal-hide {
  transform: scale(0)
}
